*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.zero{
    display: none;
}

.zero1{
    opacity: 0;
}

html{
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-left: 0; 
}

a {
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    /* padding: 0px 150px 0 0px; */
    padding: 0px 0px 0 0px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background: white;
    z-index: 1000;
    
    width: 100%;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0 70px 0 0;
}

.menu__list {
    display: flex;
}

.menu__item + .menu__item {
    padding-left: 10px;

}

.menu__link {
    text-transform: uppercase;
    /* padding: 43px 20px; */
    padding: 34px 34px;
    transition: all 0.6s;
} 

.menu__link:hover {
    background-color: #131313;
    color: white;
}

.bike {
    /* padding: 100px 150px 0 0px; */
    padding: 100px 0px 0 0px;
    margin-top: 100px;
}

.bike__inner {
    display: flex;
    justify-content: space-between;
}

.bike__column-slider {
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}

.bike__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    margin: 60px 0 5px 0; 
}

.bike__subtitle {
    max-width:  0 0 60px 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
}

.bike__text {
    margin-bottom: 20px;
    max-width: 420px;
}

.bike__link {
    margin-top: 80px; 
    display: inline-block;
    background-color: black;
    color: white;
    padding: 28px 81px ;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    transition: all .3s;
}

.bike__link:hover{
    background-color: #ff4040;
}

.bike-slider .slick-dots {
    right: 0;
    top: 50px;
}

.slick-dots {
    position: absolute;

}

.slick-dots li + li{
    padding-top: 10px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.slick-dots button:hover,
.slick-active button {
    background-color: #ff4040;
}

.bike__list {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.bike__list-item {
    min-width: 160px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 58px;
}

.bike__list-num {
    font-weight: 700;
    text-transform: uppercase;
}

.bike__list-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    margin: auto 0;
}

.info{
    padding-top: 150px;
    margin-bottom: 150px;
    /* margin-top: 150px; */
}

.info__inner {
    display: flex;
}

.info__img {
    margin-right: 60px;
    flex-basis: 570px;
    max-height: 1053px;
    object-fit: cover;
}

.info__list {
    /* flex-basis: 490px; */
    flex-basis: 547px;
    margin-left: 80px;
}

.info__item  {
    padding-bottom: 30px;
}

.info__item-title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin:  0 0 25px 0;
}

.info__item-text {
    /* max-width: 450px; */
}

.characteristics {
    padding-top: 50px;
    margin-bottom: 150px;
}

.characteristics__heade {
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.characteristics__inner {
    display: flex;
}

.characteristics__items {
    margin-right: 60px;
    flex-basis: 570px;
}

.characteristics__img{
    align-self: center;
}

.characteristics__list + .characteristics__list {
    padding-top: 30px;
}

.characteristics__title {
    padding: 2px 0 3px;
    text-transform: uppercase;
    background-color:   #131313;
    color: white;
}

.characteristics__line {
    display: flex;
    padding-top: 5px;
}

.characteristics__name {
    flex-basis: 285px;
    padding-right: 25px;
}

.characteristics__descr {
    flex-basis: 285px;
}

.slider {
    margin-bottom: 150px;
}

.slider__items .slick-dots {
    top: 0;
    left: 0;

}

.slider__item{
    padding-left: 50px;
}

.price {
    margin-bottom: 150px;
}

.price__inner {
    position: relative;
}

.input-box {
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .input-box input,
  .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #f0f1f8;
    padding: 0 20px;
    margin-bottom: 2px;
  }
  
  .input-box label {
    font-size: 14px;
    color: #afafb6;
    padding-left: 5px;
  }
  
  .input-box textarea {
    resize: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .message-box {
    min-height: 110px;
  }
  
  .button {
    display: inline-block;
  }

  .black-btn{
    background: black !important;
  }

  .black-btn:hover{
    cursor: pointer;
    scale: 1.1;
  }
  
  .button input[type="submit"] {
    color: #fff;
    font-size: 18px;
    background: #3e2093;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
  }
  
  .button input[type="submit"]:hover {
    background: rgb(0, 0, 207);
  }
  
  @media (max-width: 800px) {
    .content {
      height: 100%;
      flex-direction: column-reverse;
    }
    .left-side {
      margin-top: 50px;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
    .details {
      margin-right: 20px;
    }
    .details:last-child {
      margin-right: 0;
    }
    .left-side::before {
      display: none;
    }
    .right-side {
      width: 100%;
      margin-left: 0;
    }
  }
  

.footer {
    background-color: #131313;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer__link {
    color: white;
    text-decoration: underline;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.footer__social-link + .footer__social-link {
    margin-left: 26px;
}

.footer__contacts {
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.footer__contacts-link {
    display: flex;
    align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
    margin-top: 10px;
}

.footer__contacts-img {
    margin-right: 10px;
}


@media screen and (max-width: 1140px) {
    .form__bike-img {
        top: 45px
    }
    .form__bike-img{
        width: 500px;
    }
    .header{
        position: relative;
    }
}

@media screen and (max-width: 1110px) {
    .container{
        width: 100%;
    }
    .price{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .bike__inner {
        flex-wrap: wrap;
    }  

    .bike {
        padding: 0;
    }
    .header{
        padding: 0;
        position: relative;
    }
    .arrow__img{
        width: 200px;
    }
    .bike__column {
        padding: 0;
        margin: 10px 0 10px 0;
        max-width: 100%;
    }
    .bike__text{
        max-width: 100%;
        
    }
    .bike__column-slider {
        max-width: 100%;
        margin-left: 0;
    }
    .bike__list {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .bike__link{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .info {
        padding-top: 50px;
    }
    .info__inner{
        display: block !important;
    }
    .info__img{
        display: none;
    }
    .info__list{
        /* flex-basis: 100%; */
        margin-top: 20px;
        margin-left: 0px;
    }
    .info__item-text{
        max-width: 100%;
    }

    .info__item-title{
        margin-bottom: 10px ;
    }
    .info__item + .info__item{
        padding-top: 10px;
    }
    .characteristics{
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .characteristics__items{
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .menu {
        margin-right: 0;
    }  
    .characteristics__inner{
        flex-wrap: wrap-reverse;
    }
    .characteristics__img{
        width: 100%;
        margin-bottom: 15px;
    }
    .characteristics__items {
        flex-basis: 100%;
        margin-right: 0;
    }
    .characteristics__name{
        flex-basis: 50%;
    }
    .characteristics__desc{
        flex-basis: 50%;
    }
    .slider__img {
        object-fit: cover;
        height: 400px;
    }
    .form__label-box {
        margin-bottom: 300px;
    }
    .form__bike {
        top: auto;
        bottom: 85px;
        left: 0;
        right: auto;
    }
    .form__bike-img {
        width: 430px;
    }
    .form__bike-price{
        font-size: 23px;
        width: 50%;
    }
    .form{
        max-width: 100%;
    }
    .form__bnts{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 670px) {
    .info__inner{
        display: block !important;
    }
    .bike__list {
        flex-wrap: wrap;
    }
    .bike__list-item {
        width: 50%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 640px) {
    .info__inner{
        display: block !important;
    }
    .menu {
        margin-top: 50px;
    }  
    .header__inner {
        display: block;
        text-align: center;
    }
    .menu__list {
        justify-content: space-evenly;
    }
    .menu__link {
        padding: 25px 20px;
    }
    .slider__img {
        object-fit: cover;
        height: 300px;
    }
}

@media screen and (max-width: 460px) {
    .info__inner{
        display: block !important;
    }
    .menu__list {
        justify-content:space-between;
    }  
    .menu__link {
        padding: 25px 0px;
    }  
    .bike__link{
        padding: 5px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .slider {
        display: none;
    }
    .footer__inner {
        display: block;
        height: auto;
        padding: 15px;
        text-align: center;
    }
    .footer__social {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__bike-img {
        width: 350px;
    }
    .form__bike-price::after{
        display: none;
    }
    .form__bnts {
        padding-right: 0;
    }
    .form__bnt {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 350px) {
    .info__inner{
        display: block !important;
    }
    .menu {
        margin-top: 30px;;
    }  
    .menu__link {
        font-size: 12px ;
    }  
    .container{
        padding-right: 0;
        margin-right: 0;
    }
    .form__bike-img {
        width: 100%;
    }
}

.politics{
    background: white;
    border: black solid 2px;
    position: absolute;
    left: 50px;
    top:50px
}

.arrow{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.arrow__text{
    margin-right: 20px;
    
}

.logoImg{
    width: 100px;
}